Repository AlimuratDinch/SwapStreet, pull requests merged in 2025-09, with the labels that each got.

#58 docs: Created folder structure for repo documentation
  documentation/01-Project-Overview/.gitkeep
  documentation/02-User-Experience/.gitkeep
  documentation/03-Requirements/.gitkeep
  documentation/04-System-Design/.gitkeep
  documentation/05-Implementation/.gitkeep
  documentation/06-Project-Management/.gitkeep
  documentation/07-Testing/.gitkeep
  documentation/08-Appendices/.gitkeep
  documentation/README.md
Labels: documentation, enhancement

#67 (GH-66) docs: Project Overview
  documentation/01-Project-Overview/ProjectOverview.pdf
Labels: documentation

#64 (GH-3) feature: database setup
  database/.gitignore
  database/compose.yaml
  database/scripts/init.sql
  database/scripts/seed.sql
  documentation/05-Implementation/database-setup.md
Labels: documentation, feature

#72 (GH-71) docs: User Personas
  documentation/02-User-Experience/490 personas-2.png
  documentation/02-User-Experience/490 personas.png
Labels: documentation

#70 (GH-68) docs: add domain model
  documentation/04-System-Design/README.md
  documentation/04-System-Design/swapstreetDomainModel.drawio
  documentation/04-System-Design/swapstreetDomainModel.drawio.png
  swapstreet/.dockerignore
  swapstreet/.gitignore
Labels: documentation

#84 (GH-112) docs: Added backend Architecture Proposal
  documentation/04-System-Design/BackendArchitectureProposal.md
Labels: documentation, task

#125 (GH-2) refactor: README
  README.md
Labels: documentation, refactor
